*.o
*.moc
*.pyc
.~lock*
*~
.directory
*.kate-swp
ui/*.h
bin/*
!bin/.dir
obj/*
!obj/.dir
plugins/*
!plugins/.dir
perf.data
perf.data.old
gmon.out
Debug/*
Release/*
build/*
.DS_*
.clang/*
.codelite/*
.settings/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
tlibs-master.tar.bz2
tlibs/*
tlibs
tmp
tmp/*
*.svg
*.xml
*.gz
*.htm
*.html
doc/devel/**
!doc/devel/.dir
!doc/.dir
*.qch
*.qhc
